.montage
  #carousel-example-generic.carousel.slide(data-ride='carousel')
    ol.carousel-indicators
      li.active(data-target='#carousel-example-generic', data-slide-to='0')
      li(data-target='#carousel-example-generic', data-slide-to='1')
      li(data-target='#carousel-example-generic', data-slide-to='2')
    .carousel-inner(role='listbox')
      .carousel-item.active
        img(src="https://images.unsplash.com/photo-1418063299003-793bf6723321?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=1800&h=500&fit=crop&s=c1b519977917badc36e2567da7760188")
        .carousel-caption
          h3 Caption 1
          p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus commodi facilis incidunt deserunt! Quis reiciendis atque velit nemo architecto labore, dicta laudantium dolorum est! Fugit esse a officiis id commodi.
      .carousel-item
        img(src="https://images.unsplash.com/photo-1418063299003-793bf6723321?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=1800&h=500&fit=crop&s=c1b519977917badc36e2567da7760188")
        .carousel-caption
          h3 Caption 1
          p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus commodi facilis incidunt deserunt! Quis reiciendis atque velit nemo architecto labore, dicta laudantium dolorum est! Fugit esse a officiis id commodi.
      .carousel-item
        img(src="https://images.unsplash.com/photo-1418063299003-793bf6723321?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=1800&h=500&fit=crop&s=c1b519977917badc36e2567da7760188")
        .carousel-caption
          h3 Caption 1
          p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus commodi facilis incidunt deserunt! Quis reiciendis atque velit nemo architecto labore, dicta laudantium dolorum est! Fugit esse a officiis id commodi.
    a.left.carousel-control(href='#carousel-example-generic', role='button', data-slide='prev')
      span.icon-prev(aria-hidden='true')
      span.sr-only Previous
    a.right.carousel-control(href='#carousel-example-generic', role='button', data-slide='next')
      span.icon-next(aria-hidden='true')
      span.sr-only Next
