footer
  .container
    .row
      .col-md-6
        Copyright &copy; 2016. The Medical Guild Lagos.
      .col-md-6.text-xs-right Made with 
        .i.fa.fa-heart(style='color: red')
        |  by the guys at Nomber79