doctype html
html(lang='en')
  include head/link
  body(style="background: #eee;")
    include section/navigation
    include section/carousel
    include section/publications
    include section/footer
    include head/script
